extends ../base.pug 

block variables 
  - var template = 'home'

block content
  .home
    .home__wrapper#wrapper
      .home__gallery
        each item in home.data.body[0].items
          .home__gallery__item(data-brand=item.brand data-title=item.title data-main=`${item.main}` data-main-index=`${item.main_index}`)
            a.home__gallery__category(href="#")=item.category 
            a.home__gallery__media__wrapper(href="#")
              media.home__gallery__media(data-main=`${item.main}`)
                img(src=item.image.url, alt="").home__gallery__media__img
            a.home__gallery__title(href="#")=item.title 
      .home__footer
        .home__footer__view
          button.home__footer__view__button
            i
            i
            i 
            i
        .home__footer__counter
          span
            span.home__footer__counter__current 1
            | /
            span.home__footer__counter__total 12
        .home__footer__info 
          span.home__footer__info__category Lebanese breast cancer foundation 
          span.home__footer__info__title BREAD EXAM
